*:focus {outline:none}
body{    
    background-color: #4b4b4b;
}
.Header{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    border: 2px solid #3d3d3d;
    border-width: 0 0 4px 0;
    background-color: #5e5e5e;
}
#Draw_Canvas{
    position: absolute;
    top: calc(50% + 50px);
    left: 50%;
    transform: translate(-50%,-50%);
}
#Back_Canvas{
    position: absolute;
    top: calc(50% + 50px);
    left: 50%;
    transform: translate(-50%,-50%);    
    border: 3px solid #aaaaaa;
}
.ToolBar{
    position: fixed;
    top: 0;
    left: 0;
    padding: 104px 0 0 0;
    margin: 0;
    height: 100%;
    border: 2px solid #3d3d3d;
    border-width: 0 4px 0 0;
    background-color: #5e5e5e;
}
.colorDiv{
    width: 30px;
    height: 30px;
    box-shadow: inset 0 0 0 1px  #3d3d3d,inset 0 0 0 2px #afafaf,inset 0 0 0 3px #3d3d3d;
    cursor: pointer;
}
.Tools{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#colorPicker{
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #5e5e5e;
    border-width: 2px;
    border-style: outset;
    border-color: #3d3d3d;
    border-image: initial; 
}
#pencil{
    background: url(Images/Tools/pencil.png) no-repeat center; 
    background-color: #afafaf;
    border-width: 2px;
    border-style: outset;
    border-color: #3d3d3d;
    border-image: initial;       
    box-shadow: inset 0 0 0 2px white;
}
#eraser{
    background: url(Images/Tools/eraser.png) no-repeat center;
    background-color: #afafaf;
    border-width: 2px;
    border-style: outset;
    border-color: #3d3d3d;
    border-image: initial;  
}
#fill{
    background: url(Images/Tools/fill.png) no-repeat center;
    background-color: #afafaf;
    border-width: 2px;
    border-style: outset;
    border-color: #3d3d3d;
    border-image: initial;  
}
#pipette{
    background: url(Images/Tools/pipette.png) no-repeat center;
    background-color: #afafaf;
    border-width: 2px;
    border-style: outset;
    border-color: #3d3d3d;
    border-image: initial;  
}
.SaveButton{
    background: url(Images/Save.png) no-repeat center;
    width: 160px;
    height: 65px;
    border: none;
    margin: 17.5px;
    float: right;
    cursor: pointer;
}
#Logo{
    margin: 17.5px;
}