*:focus {
    outline: none;
}

body {
    background-color: #1E1E1E;
}

.Header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    border: 2px solid #101010;
    border-width: 0 0 4px 0;
    background-color: #252526;
}

#Draw_Canvas {
    position: absolute;
    top: calc(50% + 40px);
    left: 50%;
    transform: translate(-50%, -50%);
}

#Back_Canvas {
    position: absolute;
    top: calc(50% + 40px);
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #333333;
}

.ToolBar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 84px 0 0 0;
    margin: 0;
    height: 100%;
    border: 2px solid #101010;
    border-width: 0 4px 0 0;
    background-color: #252526;
}

.colorDiv {
    width: 30px;
    height: 30px;
    box-shadow: inset 0 0 0 1px #3d3d3d, inset 0 0 0 2px #333333, inset 0 0 0 3px #3d3d3d;
    cursor: pointer;
}

.Tools {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#colorPicker {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #252526;
    border-width: 2px;
    border-style: outset;
    border-color: #3d3d3d;
    border-image: initial;
}

table {
    border-color: #3d3d3d
}

#pencil {
    background: url(Images/Tools/pencil.png) no-repeat center;
    background-color: #333333;
    border-width: 2px;
    border-style: outset;
    border-color: #3d3d3d;
    border-image: initial;
    box-shadow: inset 0 0 0 2px white;
}

#eraser {
    background: url(Images/Tools/eraser.png) no-repeat center;
    background-color: #333333;
    border-width: 2px;
    border-style: outset;
    border-color: #3d3d3d;
    border-image: initial;
}

#fill {
    background: url(Images/Tools/fill.png) no-repeat center;
    background-color: #333333;
    border-width: 2px;
    border-style: outset;
    border-color: #3d3d3d;
    border-image: initial;
}

#pipette {
    background: url(Images/Tools/pipette.png) no-repeat center;
    background-color: #333333;
    border-width: 2px;
    border-style: outset;
    border-color: #3d3d3d;
    border-image: initial;
}

#stepBack {
    font-size: 20px;
    background-color: #333333;
    border-width: 2px;
    border-style: outset;
    border-color: #3d3d3d;
    border-image: initial;
}

#stepForward {
    font-size: 20px;
    background-color: #333333;
    border-width: 2px;
    border-style: outset;
    border-color: #3d3d3d;
    border-image: initial;
}

#stepForward:active {
    box-shadow: inset 0 0 0 2px #202020;
}

#stepBack:active {
    box-shadow: inset 0 0 0 2px #202020;
}

.SaveButton {
    background: url(Images/Save.png) no-repeat center;
    width: 124px;
    height: 50px;
    border: none;
    margin: 15px;
    background-size: 124px 50px;
    float: right;
    cursor: pointer;
}

#Logo {
    margin: 15px;
}

img {
    height: 50px;
}